/* 通用項目 */
* {
    margin: 0;
    padding: 0;
    font-size: 8px;
    font-family: 'Abril Fatface', cursive;
}

/* 介面設置 */
.standardCenter {
    max-width: 600px;
    max-height: 600px;
    min-width: 300px;
    min-height: 300px;
    width: 95vw;
    height: 95vw;
    margin: 0 auto;
}

.bar {
    height: 30px;
    width: 100%;
    background-color: aquamarine;
}

#cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color 300ms;
    /* display: none; */
}

#cover.hide {
    background-color: rgba(0, 0, 0, 0);
}

#difficultyList {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 3vh;
    color: gray;
    transition: bottom 1s;
}

#difficultyList * {
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#difficultyList.hide {
    bottom: -100vh;
}

.difficultyButton {
    font-size: 4rem;
    margin: 0.5rem auto 1rem auto !important;
    color: black;
}

/* 遊戲選項 */
#playArea {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(210, 255, 240, 0.75);
    align-items: center;
}

#functionSet>i {
    width: 20px;
}

#operationSet>div {
    max-width: 550px;
    width: 90vw;
    display: flex;
    justify-content: center;
}

#functionSet>span {
    max-width: 5vw;
    flex: 1;
    font-size: 4rem;
    text-align: center;
}

#numberSet>span {
    flex: auto;
    font-size: 3rem;
    text-align: center;
}


/* 數獨格相關 */
#mainTable {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
}

#mainTable tr:nth-child(3n) {
    border-bottom: 3px solid black;
}

tr td:nth-child(3n) {
    border-right: 3px solid black;
}

td {
    width: 11.11%;
    height: 11.11%;
    text-align: center;
    font-size: 3rem;
    border: 1px solid black;
    color: blue;
}

td.active {
    background-color: rgba(98, 255, 255, 0.8);
}

td.invalid {
    color: red !important;
}

td.clue {
    color: black;
}