/* 通用項目 */
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 0;
    background: transparent;
}

*::-webkit-scrollbar-track {
    margin: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px grey;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    cursor: pointer;
}

i {
    cursor: pointer;
}

body {
    background: linear-gradient(135deg, rgba(100, 255, 203, 0.3), rgba(100, 255, 255, 0.3));
}

p {
    cursor: default;
}

textarea {
    border: 0;
}

textarea:focus {
    outline: 0;
}

.gray {
    color: gray;
}

.lightArea {
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    border-radius: 7px;
}


/* 主排版 */
#workBench {
    margin: 20px;
}

#topArea {
    width: calc(100vw - 40px);
    display: flex;
    margin-bottom: 1rem;
}

#textArea {
    min-width: 300px;
    width: 100%;
    height: 45vh;
    border-radius: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

#userCode {
    height: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
    color: black;
    resize: none;
    overflow-y: scroll;
}

#textFunctionArea {
    background-color: rgb(0, 175, 255);
    font-size: 1.5rem;
    height: 36px;
    line-height: 1.5rem;
    text-align: end;
}

#textFunctionArea>span {
    margin-right: 1rem;
}

#toprightArea {
    position: relative;
    width: 250%;
    margin-left: 1rem;
}

#treeArea {
    width: 100%;
    height: 100%;
}

#bottomArea {
    height: calc(55vh - 40px - 1rem);
}


/* Tree呈現相關 */
#resetTreeBtn {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    transform: rotate(0deg);
}

#resetTreeBtn.update {
    transform: rotate(360deg);
    transition: transform 300ms;
}

#treeArea {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nodeDiv {
    position: absolute;
    padding-bottom: 150px;
}

#treeArea .node {
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    position: absolute;
    transition: background-color 200ms;
    z-index: 10;
}

#treeArea .node.show {
    background-color: rgb(255, 255, 0);
}

.line {
    border: 1px solid black;
    height: 0px;
    position: absolute;
    transform-origin: top left;
    transition: transform linear 500ms;
    z-index: 1;
}

.add {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: .8rem;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
    transition: opacity 300ms, background-color 300ms;
}

.add.show {
    background-color: transparent;
    border: 2px dashed gray;
    opacity: 1;
}

.add:hover {
    background-color: yellow;
    opacity: .75;
}

/* coding 相關 */
#textFunctionArea {
    color: rgb(0, 0, 0, 1);
}

i {
    transition: color 200ms;
}

#textFunctionArea i:hover {
    color: rgb(255, 255, 255, 0.9);
}

#bottomArea {
    position: relative;
    overflow: scroll;
}

.functionWindow {
    position: absolute;
    background-color: white;
    font-family: monospace;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    top: 3rem;
    overflow: hidden;
}

.functionWindow::before {
    content: " ";
    width: 100%;
    height: 1rem;
    background-color: rgb(0, 175, 255);
    position: relative;
    display: block;
    cursor: grab;
}

.functionTextArea {
    padding: 0.5rem 1rem 1rem;
}

.variable {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    transition: all 200ms;
}

.variable:hover {
    background-color: rgba(255, 255, 0, 0.6);
}

#valueShower {
    position: fixed;
    padding: 5px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .4);
    font-family: monospace;
    z-index: 30;
    transform: scaleY(0);
    transition: transform 120ms;
}

#valueShower.show {
    transform: scaleY(1);
}