/* ******* */
/* 角色相關 */
/* ******* */
#character{
    width:55px;
    height:40px;
    background-color: rgb(0, 255, 179);
    position: absolute;
    left: 280px;
    bottom: 35px;
    border-radius: 40px 40px 20px 20px ;
    border: 2px solid black;
    cursor:pointer;
    transition: height 0.25s, left 0.8s, bottom 0.8s;
}
#character::after{
    content:"";
    width:3px;
    height:10px;
    position: absolute;
    top:12px;
    left:16px;
    background-color: black;
    border-radius: 50%;
}
#character::before{
    content:"";
    width:3px;
    height:10px;
    position: absolute;
    top:12px;
    right:16px;
    background-color: black;
    border-radius: 50%;
}


/* ******* */
/* 場景相關 */
/* ******* */

/* 背景 */
body{
    background-color: rgb(212, 255, 255);
}
.field{
    position:relative;
    background-color: rgb(209, 255, 163);
    width: 615px;
    height: 330px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    border: 2px solid black;
}

/* 地圖物件 */
.tree{
    position:absolute;
    border-bottom: 80px solid black;
    border-right: 30px solid transparent;
    border-left:30px solid transparent;
    bottom: 37px; /* 22+15+30*0 */
    left: 0px; /* 55*0 */
    width:0;
    height:0;
}
.tree::before{
    content:"";
    position:absolute;
    box-sizing: content-box;
    border-bottom: 70px solid green;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    left: -25px;
    top: 7px;
    width:0;
    height:0;
}
.tree::after{
    content:"";
    position:absolute;
    border: 3px solid black;
    border-top: none;
    left:-10px;
    top:80px;
    width:20px;
    height:22px;
    background-color: brown;
}

.hole{
    position: absolute;
    height:30px;
    width:60px;
    background-color: rgb(212, 255, 255);
    left:5px;
    bottom:0px;
    overflow: hidden;
}
.hole::after{
    content: "";
    display: block;
    box-sizing: content-box;
    height:30px;
    width:60px;
    position: absolute;
    top:-20px;
    left:-20px;
    border: 20px solid rgb(209, 255, 163);
    border-radius: 50%;
    z-index: 20;
}
.hole::before{
    content: "";
    position: absolute;
    height:30px;
    width:60px;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,.5) ;
    border-radius: 50%;
    border:2px solid black;
}